
<div class='flex-container'>
  
  <div class='bar' #bar>

    <div class='logo' routerLink='./'>
      <img src="/assets/image/logo.png" class='logos' width="200" height="40" />
    </div>

    <div class="menus">
      <!-- Admin -->


      <div class="menu" >
        <span class="material-symbols-outlined">swap_driving_apps_wheel</span>
        <!-- CarList -->
          <!-- <div ngbDropdown class="d-inline-block">
              <div id="dropdownBasic1" ngbDropdownToggle>
                  MENU
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem routerLink='./management'>Management</button>
                  <button ngbDropdownItem routerLink='./report'>Report</button>
              </div>
          </div> -->
          <div class="title">
            CarList
          </div>
      </div>
      <div class="menu" >
        <span class="material-symbols-outlined">description</span>
        <div class="title">
          Report
        </div>
        <!-- Report -->
      </div>
      <div class="menu" >
        <span class="material-symbols-outlined">manage_accounts</span>
        <div class="title">
          Management
        </div>
        <!-- Management -->
      </div>


    </div>

    <div class="user">
      <span class="material-symbols-outlined">
        admin_panel_settings
      </span>
      <div class="title">
        {{ this.userName }}
      </div>
    </div>

  </div>

 

  
  <div class='area1'>
   
  </div>
</div>

