.flex-container{
  display: flex;
  flex-direction: column;
  // background-color: rgb(23, 22, 35);
  // background-color: rgb(11, 15, 26);
  background-color: rgba(249, 250, 253);
  width: 100%;
  height: 100%;
  font-size: 12px;
  /* flex-direction: column; */
}

.bar{
  z-index: 100;
  width: 100%;
  height: 80px;
  // opacity: 0.98;
  margin-top: calc(0vh - 1px);
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: row;
  font-family: 'Prompt', sans-serif;
  font-size: 10px;
  color: rgb(108, 117, 124);
  transition: all 0.4s ease;
  

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  // background-color: rgba(23, 22, 35, 0.8);
  background-color: rgb(255, 255, 255);
  // background-color: rgb(18, 18, 18, 0.98);

  // box-shadow: rgb(18, 18, 18, 0.9) 0px -5px 10px 10px;

  .title{
    margin-top: -4px;
    margin-bottom: -6px;
  }

  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
  }

  .menus{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: row;
    width: 70%;
    height: 100%;

    // background-color: aquamarine;

    .menu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      width: 100px;
      height: 100%;
      cursor: pointer;
      // background-color: rgb(209, 214, 203);
    }
    .menu:hover{
      background-color: rgb(248, 248, 248);
    }
  }

  .user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
  }

}


@media (max-width: 767px) {

  .logos{
      position: fixed;
      width: 75px;
      height: 30px;
      left: 5px;
  }
  
}

.area1{
  // overflow: hidden;
  margin-top: 80px;
  width: 100%;
  height: 100%;
  // width: calc(100% - 230px);
  // margin-left: 230px;
  // height: calc(100% - 60px);
  
  // background-color: rgb(233, 187, 69);
}


