<div class='flex-container'>

    <div class="home" style="color: aliceblue;">
        <div class="font-head">ยินดีต้อนรับ</div><br>
        <div class="font">สู่เว็บไซต์ จีพีเอส กูรู</div>
        <div class="font">GPS ติดตามการเคลื่อนไหวยานพาหนะ</div>
    </div>

</div>

<!-- info main -->
<div style="margin-top: 415px; background-color: black;" >
    <div class="img-c3">
        <img  src="/assets/image/c/c3.png" >
    </div> 
    <div class="img-c1">
        <img  src="/assets/image/c/c1.png" >
    </div> 
    <div class="img-c2">
        <img src="/assets/image/c/c2.png" alt="">
    </div>
</div>